.rht__combobox {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-1);
	width: 100%;
}

.rht__combobox--input {
	width: 100%;
	height: var(--input-height);
	padding: var(--size-4-1) var(--size-4-2);
	background-color: var(--background-secondary);
	color: var(--text-normal);
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	font-size: var(--font-ui-small);

	&:focus {
		box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
		border-color: var(--interactive-accent);
		outline: none;
	}
	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
		background-color: var(--background-secondary-alt);
	}
}

.rht__combobox--content {
	z-index: var(--form--modal-layer);
	width: var(--radix-popover-trigger-width);
	background-color: var(--background-secondary);
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	overflow: hidden;
	box-shadow: var(--shadow-s);
	max-height: var(--combobox-max-height, 400px);
}

.rht__combobox--options-list {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-bg);
	max-height: 300px;
	overflow-y: auto;
	padding: 4px;

	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background: var(--scrollbar-bg);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-bg);
		border-radius: 4px;
	}
}

.rht__combobox--option {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: var(--size-4-1) var(--size-4-2);
	cursor: pointer;
	border-radius: var(--radius-xs);
	user-select: none;
	height: 32px; /* 保持固定高度 */
	max-height: 32px;
	overflow: hidden;

	&:hover,
	&[data-active="true"] {
		background-color: var(--background-modifier-hover);
	}
}

.rht__combobox--option-label {
	display: flex;
	align-items: center;
	gap: var(--size-4-1);
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rht__combobox--option-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
