.rht-inline-toc-container {
	overflow-y: auto;
}

.rht-inline-toc-title {
	font-weight: bold;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid var(--background-modifier-border);
}

.rht-inline-toc-list {
	list-style-position: inside;
	padding-left: 0;
}

.rht-inline-toc-item {
	margin: 0.5em 0;
	line-height: 1.4;
}

.rht-inline-toc-item:hover {
	color: var(--text-accent);
	cursor: pointer;
}

.rht-inline-toc-number {
	color: var(--text-muted);
	font-size: 0.9em;
	font-weight: normal;
}

.rht-inline-toc-container.columns {
	.rht-inline-toc-list {
		column-width: var(--toc-column-min-width);
		column-gap: var(--toc-column-gap);
		column-rule: var(--toc-column-rule);
		orphans: 3;
		widows: 3;
	}

	.rht-inline-toc-item {
		break-inside: avoid;
		page-break-inside: avoid;
	}
}

@media screen and (max-width: 600px) {
	.rht-inline-toc-container.columns .rht-inline-toc-list {
		columns: 1;
	}
}
