.rht-reading-progress-container {
	position: fixed;
	top: 6%;
	height: auto;
	max-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: var(--layer-popover);
}

.rht-reading-progress-container.rht-position-right {
	left: auto;
}

.rht-reading-progress-container.rht-position-left {
	right: auto;
}

.rht-toc-group {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.rht-toc-group.rht-hidden {
	display: none !important;
}

.rht-indicators {
	position: relative;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	padding: 4px 14px;
	background: transparent;
	border-radius: 4px;
	height: var(--toc-height);
	max-height: 55vh;
	overflow-y: auto;
	overscroll-behavior: contain;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.rht-indicators::-webkit-scrollbar {
	display: none;
}

.rht-toc-group:has(.rht-toc-list.rht-expanded) .rht-indicators {
	visibility: hidden;
}

.rht-toc-item-indicator {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: var(--background-modifier-border);
	transition: background-color 0.2s ease;
	margin: 8px 0;
	flex-shrink: 0;
}

.rht-toc-item-indicator[data-active="true"] {
	background: var(--interactive-accent);
}

.rht-toc-list {
	position: absolute;
	top: 0;
	visibility: hidden;
	opacity: 0;
	min-width: 10vw; /* 基础保护 */
	max-width: 80vw; /* 最大宽度限制 */
	transition: all 0.2s ease;
	padding: 8px 0;
}

.rht-toc-content {
	background: var(--background-primary);
	/* background: color-mix(in srgb, var(--background-primary) 90%, transparent); */
	border-radius: 4px;
	box-shadow: var(--shadow-s);
	max-height: 75vh;
	/* min-height: 55vh; */
	min-height: max(100px, 10vh);
	overflow-y: auto;
	overscroll-behavior: contain;
}

.rht-toc-progress-bar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	z-index: 1;
	background: var(--background-modifier-border);
	transition: all 0.3s ease;
}

.rht-toc-progress-bar::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--progress-width);
	background: linear-gradient(
		90deg,
		var(--interactive-accent) 0%,
		var(--interactive-accent-hover) 100%
	);
	box-shadow: 0 0 8px var(--interactive-accent-hover);
	border-radius: 0 2px 2px 0;
	transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.rht-toc-list.rht-expanded {
	opacity: 1;
	visibility: visible;
}

.rht-toc-resize-handle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	cursor: ew-resize;
	background: transparent;
	transition: background-color 150ms ease;
	z-index: 1;
}

.rht-position-right .rht-toc-resize-handle {
	left: 0;
}

.rht-position-left .rht-toc-resize-handle {
	right: 0;
}

.rht-toc-resize-handle:hover {
	background-color: var(--interactive-accent);
}

.rht-toc-toolbar {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 4px;
	padding: 8px;
	justify-content: center;
	background-color: var(--background-secondary);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	opacity: 0;
	transition: opacity 150ms ease;
}

/* 解决primary主题按钮图标消失问题 */
.rht-toc-toolbar button {
	padding: unset !important;
}

.rht-toc-list:hover .rht-toc-toolbar {
	opacity: 1;
}

.rht-toc-toolbar-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	border-radius: 4px;
	background-color: transparent;
	color: var(--text-muted);
	cursor: pointer;
	transition: all 150ms ease;
}

.rht-toc-toolbar-btn.active,
.rht-toc-toolbar-btn[data-action="copy"].success {
	color: var(--interactive-accent);
}

.rht-position-right .rht-toc-list {
	right: 0;
	left: auto;
	margin-right: 8px;
	transform: translateX(8px);
}

.rht-position-left .rht-toc-list {
	left: 0;
	right: auto;
	margin-left: 8px;
	transform: translateX(-8px);
}

.rht-toc-list::-webkit-scrollbar {
	width: 6px;
}

.rht-toc-list::-webkit-scrollbar-track {
	background: transparent;
}

.rht-toc-list::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-bg);
	border-radius: 3px;
}

.rht-toc-list[data-state="open"] {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.rht-toc-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0px;
	padding: 4px 8px;
	font-size: 13px;
	color: var(--text-normal);
	cursor: pointer;
	line-height: 1.4;
	min-height: 28px;
}

.rht-toc-item[data-relative-depth="0"] {
	padding-left: 14px;
	/* font-weight: 600;
	font-size: 14px; */
}

.rht-toc-item[data-relative-depth="1"] {
	padding-left: 30px;
	/* font-weight: 500;
	font-size: 13px; */
}

.rht-toc-item[data-relative-depth="2"] {
	padding-left: 46px;
	/* font-weight: 400;
	font-size: 13px; */
}

.rht-toc-item[data-relative-depth="3"] {
	padding-left: 62px;
	/* font-weight: 400;
	font-size: 12px; */
}

.rht-toc-item[data-relative-depth="4"] {
	padding-left: 78px;
	/* font-weight: 400;
	font-size: 12px; */
}

.rht-toc-item[data-relative-depth="5"] {
	padding-left: 94px;
	/* font-weight: 400;
	font-size: 12px; */
}

.rht-toc-item-level {
	flex-shrink: 0;
	color: var(--text-muted);
	font-size: 11px;
	font-weight: 500;
	padding: 2px 4px;
	border-radius: 4px;
	background: var(--background-modifier-hover);
}

.rht-toc-item-content {
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 0;
}

.rht-toc-item-number {
	color: var(--text-muted);
	margin-right: 4px;
	font-weight: 500;
	font-size: 0.9em;
}

.rht-toc-item[data-active="true"] .rht-toc-item-number {
	color: var(--interactive-accent);
}

.rht-toc-collapse-btn {
	position: absolute;
	left: 0;
	padding: 2px;
	background: transparent;
	border: none;
	cursor: pointer;
	color: var(--text-muted);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.rht-toc-item:hover .rht-toc-collapse-btn {
	opacity: 1;
}
.rht-toc-collapse-icon {
	transition: transform 0.2s ease;
}
.rht-toc-collapse-icon.expanded {
	transform: rotate(90deg);
}

.rht-toc-item-text {
	flex: 1;
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: normal;
	text-align: left;
	margin-right: 8px;
	max-width: calc(100% - 40px);
	padding-left: 5px;
}

.rht-toc-item:hover {
	background: var(--background-modifier-hover);
}

.rht-toc-item[data-active="true"] {
	color: var(--interactive-accent);
	background: var(--background-modifier-hover);
}

.rht-toc-item[data-active="true"] .rht-toc-item-level {
	background: var(--interactive-accent);
	color: var(--text-on-accent);
}

.rht-progress-indicator {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 4px;
	margin-top: 8px;
}

.rht-return {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rht-return-btn {
	margin-top: 8px;
	border: none;
	background-color: transparent;
	color: var(--text-muted);
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.rht-return-btn:hover {
	background-color: var(--background-modifier-hover);
	color: var(--text-normal);
}

/* https://ravenhogwarts.github.io/docs/en/obsidian-ravenhogwarts-toolkit/advanced/styling#fix-reading-progress-position-in-modal-windows 的尝试修复 */
.workspace-leaf-content:has(.rht-reading-progress) {
	container-type: inline-size;
}

.mod-left-split .rht-reading-progress,
.mod-right-split .rht-reading-progress {
	display: none;
}

.show-rht-toc ~ .rht-reading-progress .rht-toc-list {
	opacity: 1 !important;
	visibility: visible !important;
}
.hide-rht-toc ~ .rht-reading-progress .rht-toc-list {
	opacity: 0 !important;
	visibility: hidden !important;
}

.view-content:has(> .markdown-source-view.show-rht-heading-number)
	.rht-toc-item-number,
.view-content:has(> div:not([style*="display: none"]).show-rht-heading-number)
	.rht-toc-item-number {
	display: inline !important;
}
.view-content:has(> .markdown-source-view.hide-rht-heading-number)
	.rht-toc-item-number,
.view-content:has(> div:not([style*="display: none"]).hide-rht-heading-number)
	.rht-toc-item-number {
	display: none !important;
}
